@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="row mb-auto">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
       
    </div>
</div>
<main id="hero-section">
        <section class="Imagenes">
            <img src="https://images.pexels.com/photos/1438081/pexels-photo-1438081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </section>
        <section class="text-hero">
            <div class="contenedor-text-hero" style="display: flex; flex-direction: column; gap: 50px">
                <h1>Una mejor educacion para ti y para todos</h1>
                <a href="/Escuelas/Index">Ver escuelas</a>
            </div>
        </section>
</main>
<h1 style="text-align: center; margin-top:1rem;">Miles de Estudiantes satisfechos</h1>

<section class="mosaico">
            <img src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <img src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <img src="https://images.pexels.com/photos/5965566/pexels-photo-5965566.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
</section>

<section class="comentarios">
    <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
    <p>"Me encanta la variedad de cursos disponibles. Pude personalizar mi ruta de aprendizaje de acuerdo con mis necesidades"</p>
</section>

<section class="dispositivos">
    <h1>En cualquier momento, en cualquier lugar</h1>
    <img src="https://luispmv.github.io/ImgCultureU/img/DispositivosCultureU.png" alt="">
</section>

<footer class="pie-index">
    <div>
        <li><a href="">Empresa</a></li>
        <li><a href="">Contacto</a></li>
        <li><a href="">Sobre Nosotros</a></li>
    </div>
    <div>
        <li><a href="">Preguntas Frecuentes</a></li>
        <li><a href="">Comunidad la sallista</a></li>
        <li><a href="">Soporte al cliente</a></li>
    </div>
    <div>
        <li><a href="">Metodo de pago</a></li>
        <li><a href="">Correo</a></li>
        <li><a href="">Blog</a></li>

    </div>
</footer>